.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: hsl(0, 0%, 100%);

  &.colorChange {
    background-color: hsl(0, 0%, 100%);
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 90%;
    margin: auto;

    .nav-avatar {
      font-size: 3rem;
      margin-left: auto;
    }

    li {
      list-style-type: none;
      margin: 0px 20px;

      .nav-logo {
        font-size: 3.5rem;
        display: flex;
      }
      .nav-search__label {
        padding-right: 10px;
        font-size: 1.2rem;
      }
      .nav-search__input {
        padding: 6px;
        font-size: 1.15rem;
      }
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
      }
    }
  }
}
